.audio.green-audio-player {
    margin-top: 10px;
    width: 400px;
    min-width: 300px;
    height: 56px;
    box-shadow: 2.5px 2.5px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
}

.play-pause-btn {
    display: block;
    cursor: pointer;
}

.slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
}

.progress {
    background-color: #44BFA3;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
    overflow: visible;
}

.pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #44BFA3;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

.progress {
    width: 0;
    height: 100%;
}

.pin {
    right: -8px;
    top: -6px;
}

span {
    cursor: default;
}